#resultFood {
    font-size: 7rem;
}

.navbar {
    display: none;
}

@media (max-width:800px) {
    #resultFood {
        font-size: 5rem;
    }
    #resultContainer {
        height: 150px;
    }
    .navbar {
        display: flex;
    }
    .hide-from-small {
        display: none;
    }
    #foodList {
        margin-left: 20px;
        margin-right: 20px;
    }
    ol li {
        font-size: 2em;
    }
}