<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <ion-card color="medium">
          <ion-card-content>
            <ngx-auth-firebaseui (onError)="onAuthError($event)" (onSuccess)="onAuthSuccess($event)"
                                 [guestEnabled]="false" [providers]="providers.EmailAndPassword">
            </ngx-auth-firebaseui>
            <ngx-auth-firebaseui-providers (onError)="onAuthError($event)"
                                           (onSuccess)="onAuthSuccess($event)" *ngIf="!isPhone"
                                           [providers]="[providers.Github,providers.Google]">
            </ngx-auth-firebaseui-providers>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
