<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            More
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col offset-sm="3" size-sm="6">
                <ion-list>
                    <ion-item button detail routerLink="/tabs/feedback">
                        <ion-icon name="bug" slot="start"></ion-icon>
                        <ion-label>Make Feedback</ion-label>
                    </ion-item>
                    <ion-item (click)="logout()" button detail>
                        <ion-icon name="log-out" slot="start"></ion-icon>
                        <ion-label>Log Out</ion-label>
                    </ion-item>
                    <ion-item (click)="about()" button detail>
                        <ion-icon name="information-circle" slot="start"></ion-icon>
                        <ion-label>About</ion-label>
                    </ion-item>
                    <ion-item button detail routerLink="/about/privacy">
                        <ion-icon name="book" slot="start"></ion-icon>
                        <ion-label>Privacy Notice</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col *ngIf="isMaster" offset-sm="3" size-sm="6">
                <ion-list>
                    <ion-item button detail routerLink="/tabs/feedback/view">
                        <ion-icon name="bug" slot="start"></ion-icon>
                        <ion-label>View Feedback</ion-label>
                    </ion-item>
                    <ion-item button detail (click)="userMgn()">
                        <ion-icon name="people" slot="start"></ion-icon>
                        <ion-label>User Management</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer *ngIf="isPhone === false">
    <ion-toolbar class="ion-align-items-center ion-text-center">
        <ion-button href="https://play.google.com/store/apps/details?id=app.web.whattoeathuh" fill="outline">
            <ion-icon name="logo-android" slot="start"></ion-icon>
            Get android App
        </ion-button>
    </ion-toolbar>
</ion-footer>
