<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food Page
    </ion-title>
    <ngx-auth-firebaseui-avatar (onSignOut)="onSignOut()" [canDeleteAccount]="false" [canEditAccount]="false"
                                slot="end"></ngx-auth-firebaseui-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
