<ion-header>
    <ion-toolbar mode="md">
        <ion-title>{{f.food}}</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="onClose()" aria-label="Close About Page">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="mode==='EDIT' " slot="end">
            <ion-button (click)="onSubmitForm()" aria-label="Save Changes">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img [src]=this.imgSrc style="width: 25%;margin: auto"></ion-img>
    <ion-grid *ngIf="mode=='SHOW' ">
        <ion-row>
            <ion-col class="ion-text-center" offset-lg="3" size-lg="6">
                <div>🍕 Food : {{f.food}}</div>
                <hr>
                <div *ngIf="f.timestamp">
                    ⏱⏱ Added/Updated on : {{f.timestamp?.seconds * 1000 | date:'short'}}
                </div>
                <hr>
                <div *ngIf="this.tags">
                    Tags Section
                    <hr>
                    <ion-chip #ionChip (click)="attach(tag)" *ngFor="let tag of tags"
                              [color]="isAttachToFood(tag) ? 'success' : 'dark' "
                              outline="true">
                        <ion-label>
                            <ion-icon [name]="isAttachToFood(tag) ?'checkmark-circle' : 'close-circle'"></ion-icon>
                            {{tag.name}}
                        </ion-label>
                    </ion-chip>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="mode=='EDIT'">
        <ion-row>
            <ion-col class="ion-text-center" offset-lg="3" size-lg="6">
                <ion-title>Edit {{f.food}}</ion-title>
                <form (ngSubmit)="onSubmitForm()" [formGroup]="form">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Food 🍕</ion-label>
                            <ion-input formControlName="food" type="text"></ion-input>
                        </ion-item>
                        <input hidden type="submit">
                    </ion-list>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
